@import 'vars';
@import 'webfont';

* {
  box-sizing: border-box;
}

body {
  font-family: @sans;
  font-weight: normal;
  background: @white;
  margin: 0;
  color: @black;
  --bg-color: @white;
  --font-color: @black;
  --font-color-secondary: @darkBlue;
  --secondary-color: @darkBlue;
  --text-on-secondary-color: @white;
  --grid-gap: 1.5rem;

  @media (min-width: @breakPointL) {
    --grid-gap: 1.7rem;
  }
}

h1,
h2 {
  font-family: @sans;
  font-size: @fontSizeL;
  font-weight: bold;
  letter-spacing: 0.03rem;

  @media (max-width: @breakPointM) {
    hyphens: auto;
  }
}

h3 {
  font-family: @sans;
}

h3,
h4 {
  font-size: @fontSizeM;

  @media (max-width: @breakPointM) {
    hyphens: auto;
    font-size: @fontSizeS;
  }
}

a {
  color: currentColor;
}

p {
  line-height: 1.5;
  font-family: @serif;
  font-size: @fontSizeM;
  letter-spacing: 0.02rem;

  @media (max-width: @breakPointM) {
    font-size: 1.2rem;
  }

  a {
    text-decoration: none;
    box-shadow: 0 0.1em 0 var(--bg-color), 0 3px 0 currentColor;

    &:hover {
      box-shadow: none;
    }
  }
}
