@import '../../style/vars.less';

.linkButton,
.button {
  padding: @buttonPadding;
  border: 2px solid @darkCyan;
  border-radius: @borderRadius;
  text-decoration: none;
  font-size: @fontSizeL;
  font-weight: 600;
  color: #ffffff;

  &.medium {
    font-size: @fontSizeM;
  }

  &:hover {
    background: #009393;
    border-color: #009393;
  }

  &:focus {
    outline: none;
    background: #19505c;
    border-color: #19505c;
  }
}

.linkButton {
  display: inline-block;
  color: @darkCyan;

  &:hover {
    color: var(--bg-color);
  }
}

.button {
  background: @darkCyan;
  font-family: inherit;
  line-height: inherit;
  color: #ffffff;
  cursor: pointer;
}

.inlineButton {
  display: inline;
  padding: 0;
  margin: 0;
  height: 1.15em;
  background: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  cursor: pointer;
  box-shadow: 0 0.1em 0 var(--bg-color), 0 3px 0 currentColor;

  &:hover {
    box-shadow: none;
  }
}

p a.linkButton {
  box-shadow: none;
}
