@import '../../style/vars.less';

.directDownloadButton {
  margin-top: 3rem;
  display: block;
}

.textInputContainer {
  margin-bottom: 2rem;

  @media (max-width: @breakPointXL) {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.form {
  font-size: @fontSizeS;
  position: relative;
}

.inputWrapper {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: @breakPointXL) {
    margin-bottom: 2.5rem;
  }
}

.hint {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: @fontSizeM;
}

.downloadButton {
  @media (min-width: @breakPointXL) {
    margin: 1.6rem 0 0 0.7rem;
  }
}
