@import '../../style/vars.less';

.directDownloadButton {
  margin-top: 3rem;
  display: block;
}

.textInputContainer {
  margin-bottom: 2rem;

  @media (max-width: @breakPointXL) {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.form {
  font-size: @fontSizeS;
  position: relative;
}

.inputWrapper {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: @breakPointXL) {
    margin-bottom: 2.5rem;
  }

  @media (max-width: @breakPointM) {
    margin-bottom: 4.5rem;
  }
}

.hint {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: @fontSizeM;
}

.amountOfDownloads {
  position: absolute;
  left: 100%;
  height: 11rem;
  width: 11rem;
  margin-left: 1rem;
  padding-bottom: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(5deg);
  top: -1rem;
  border-radius: 50%;
  background-color: @lightBlue;
  color: @black;
  font-family: @sans;
  text-align: center;

  p {
    font-size: 1.1rem;
    line-height: normal;
  }

  span {
    font-size: 1.4rem;
    font-weight: 600;
  }

  @media (max-width: 1350px) {
    left: 97%;
    height: 10rem;
    width: 10rem;

    p {
      font-size: 0.9rem;
    }

    span {
      font-size: 1.2rem;
    }
  }

  @media (max-width: 1270px) {
    height: 9rem;
    width: 9rem;
  }

  @media (max-width: @breakPointM) {
    top: auto;
    bottom: 29%;
    margin-bottom: -0.7rem;
    margin-left: -6.5rem !important;
  }

  @media (max-width: @breakPointS) {
    display: none;
  }
}

.downloadButton {
  @media (min-width: @breakPointXL) {
    margin: 1.6rem 0 0 0.7rem;
  }
}
